<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JavaScript</title>
</head>

<body>
	<script th:inline="javascript">
		/*<![CDATA[*/
		let message =  /*[[${message}]]*/ 'default';
		if (message) {
			window.alert(message);
		}
		/*]]>*/
	</script>
	<h1 th:text="${message}"></h1>
	<a th:href="@{/}">top</a>
</body>

</html>